<section class="jumbotron text-xs-center">
  <div class="row">
    <%= link_to image_tag('wedding.jpg', style: 'width: 100%;'), album_path %>
  </div>
  <p/>
  <h4 class="jumbotron-heading">김재호 & 박보영</h4>
  <p class="lead text-muted" style="font-size: medium;"> 저희 두 사람이 사랑과 믿음으로 한 가정을 이루게되었습니다. <br/>부디 오셔서 앞날을 축복해 주시고 격려해
    주시면 더없는 기쁨이 되겠습니다.</p>
  <p class="jumbotron-heading">2016년 10월 30일(일요일) 오후 2시</p>
  <p class="jumbotron-heading"><%= link_to '서초역 8번 출구 아이윌웨딩홀', map_path %></p>
  <p>
    <%#= link_to '앨범 보러가기', album_path, class: 'btn btn-primary' %>
    <%#= link_to '약도 보러가기', map_path, class: 'btn btn-secondary' %>
    <a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=b2Q2ZWduZnR2OGZ1ZWdiMWExY3VzZWMwamsgYXB2NnA5dmFuYXI0YzZiYnFsZWZib3EwMGNAZw&amp;tmsrc=apv6p9vanar4c6bbqlefboq00c%40group.calendar.google.com">
        <img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_ko.gif">
    </a>
  </p>
</section>
