<div class="m-x-auto" style="width: 520px;">
  <!--
    * Daum 지도 - 약도서비스
    * 한 페이지 내에 약도를 2개 이상 넣을 경우에는
    * 약도의 수 만큼 소스를 새로 생성, 삽입해야 합니다.
  -->
  <!-- 1. 약도 노드 -->
  <div id="daumRoughmapContainer1473600309660" class="root_daum_roughmap root_daum_roughmap_landing"></div>

  <script charset="UTF-8">
    $(document).ready(function() {
      new daum.roughmap.Lander({
        "timestamp": "1473600309660",
        "key": "cyst",
        "mapWidth": "520",
        "mapHeight": "300"
      }).render();
    });
  </script>
</div>
</div>
