<div class="jumbotron-fluid">
  <div class="m-x-auto" style="width: 320px;">
    <!--
      * Daum 지도 - 모바일 약도서비스
      * 한 페이지 내에 약도를 2개 이상 넣을 경우에는
      * 약도의 수 만큼 소스를 새로 생성, 삽입해야 합니다.
    -->
    <!-- 1. 약도 노드 -->
    <div id="daumRoughmapContainer1473599829634" class="root_daum_roughmap root_daum_roughmap_landing"></div>

    <!-- 3. 실행 스크립트 -->
    <script charset="UTF-8">
      $(document).ready(function() {
        new daum.roughmap.Lander({
          "timestamp": "1473599829634",
          "key": "cyss",
          "mapWidth": "320",
          "mapHeight": "200"
        }).render();
      });
    </script>

  </div>

</div>
